<p-table
  *ngIf="commodityStore.commodities$ | async as data"
  [value]="data"
  [paginator]="true"
  [totalRecords]="data.length"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 20]"
>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td>No results</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>
        <span>Name</span>
      </th>
      <th>
        <span>Category</span>
      </th>
      <th>
        <span>Price</span>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{rowData.name}}</td>
      <td>{{rowData.category}}</td>
      <td>{{rowData.price | currency}}</td>
    </tr>
  </ng-template>

</p-table>
