<p-table
  *ngIf="commodityStore.commodities$ | async as data"
  [value]="data"
  [paginator]="true"
  [totalRecords]="data.length"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 20]"
  [customSort]="true"
  [sortOrder]="filterStore.sortOrder$ | async | sortOrder"
  (onSort)="setSorting($event)"
>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td>No results</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>
        <span>Name</span>
      </th>
      <th>
        <span>Category</span>
      </th>
      <th pSortableColumn="price">
        <span>Price</span> <p-sortIcon field="price"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData>
    <tr>
      <td>{{rowData.name}}</td>
      <td class="details-column"><p-chip label="{{rowData.category}}"></p-chip></td>
      <td class="details-column">{{rowData.price | currency}}</td>
    </tr>
  </ng-template>

</p-table>
